[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
avro = "*"
confluent-kafka = "*"
requests = "*"
avro-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
